/* Global Styles */

html {
  font-size: 18px;
  color: gray;
  background-color: white;
  border: 3px solid black;
}

h1, h2, h3 {
  color: #4d4d4d;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 0.75rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* header */

header .container {
  height: 64px;
  /*background-color: Beige;*/
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.header-inner {
  justify-content: space-between;
  align-items: center;
  border: 5px solid green;
}

.logo {
  align-items: center;
  margin-left: 24px;
  height: 32px;
  border: 1px solid red;
}

.logo-text {
  align-items: center;
  text-transform: uppercase;
}

#colmar {
  color: black;
  font-weight: 600;
}

#academy {
  color: grey;
}

.nav {
  align-items: center;
  margin-right: 24px;
  border: 1px solid red;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 58px;
  border-right: 16px solid aquamarine;
}

.nav-item:last-child {
  border-right: 0px solid aquamarine;
}

/* banner container */

.banner {
  border: 1px solid red;
}

.banner-inner {
  display: flex;
  border: 1px solid blue;
  justify-content: flex-start;
  align-items: center;
  background-color: lavender;
}

.image-big {
  border: 2px solid green;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.image-big img {
  width: 90%;
  /*height: 87%; */
  padding: 32px 24px;
  border: 2px solid yellow;
}

.banner-text {
  flex-direction: column;
  justify-content: center;
  width: 30%;
  border: 1px solid red;
}

.banner-text h1 {
  font-size: 2rem;
  font-weight: bold;
}

.banner-text h3 {
  margin: 24px 0;
}

#button {
  color: white;
  background-color: #4d4d4d;
  padding: 8px 0;
  text-align: center;
}

/* top container */

.top {

  border: 1px solid red;
}

.top-inner {
  border: 1px solid green;
}

.left {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: 2px solid red;
}

.left img {
  flex-direction: column;
  width: 90%;
  padding: 32px 24px;
  border: 1px solid blue;
}

.left-text {
  padding: 0 24px;
}

.left-text h2 {
  padding-bottom: 24px;
}

#author {
  padding: 32px 0px;
  font-size: 0.65rem;
  font-weight: bold;
}

.item {
   border: 1px solid blue;
}

.img {
  width: 35%
  height: auto;
}

.right {
  flex-direction: column;
  width: 40%;
  border: 2px solid green;
}
